@model IEnumerable<CrudTask1.Models.ViewModel.EmployeeDeptAddress>
@*@model IEnumerable<CrudTask1.Models.Employee>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Employee Details</h1>
    <a asp-action="Create" asp-controller="Employee" class="btn btn-info">Create</a>
    <a asp-action="AddDepartment" asp-controller="Employee" class="btn btn-info">Add Department</a>
    <a asp-action="AddAddress" asp-controller="Employee" class="btn btn-info">Add Address</a>
    <div>
        <h4>Employee</h4>
        <hr />
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        @foreach (var cc in Model)
        {
            <tr>
                <td>@cc.id</td>
                <td>@cc.Name</td>
                <td>@cc.Gender</td>
                <td>@cc.Department</td>
                <td>@cc.Salary</td>
                <td>@cc.Address</td>
                <td>
                    <a class="btn btn-danger" asp-action="Update" asp-controller="Employee" asp-route-id="@cc.id">Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Employee" asp-route-id="@cc.id">Delete</a>
                </td>
            </tr>
        }
        </table>-->
        @*<a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |*@

<h1>Employee Details</h1>
<a asp-action="Create" asp-controller="Employee" class="btn btn-info">Create</a>
<a asp-action="AddDepartment" asp-controller="Employee" class="btn btn-info">Add Department</a>
<a asp-action="AddAddress" asp-controller="Employee" class="btn btn-info">Add Address</a>
<a asp-action="ShowEmployee" asp-controller="Employee" class="btn btn-info">Show Employee</a>
<hr />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Adress</th>
        <th>Pincode</th>
        <th>City Name</th>
        <th>State Name</th>
        <th>Country Name</th>
        <th>Action</th>
    </tr>
    @foreach (var pro in Model)
    {
        <tr>
            <td>@pro.id</td>
            <td>@pro.Name</td>
            <td>@pro.Gender</td>
            <td>@pro.Title</td>
            <td>@pro.Salary</td>
            <td>@pro.FirstAddress</td>
            <td>@pro.Pincode</td>
            <td>@pro.CityName</td>
            <td>@pro.StateName</td>
            <td>@pro.CountryName</td>
            <td>
                <a class="btn btn-danger" asp-action="Update" asp-controller="Employee" asp-route-id="@pro.id">Update</a>

                <a class="btn btn-danger" asp-action="Delete" asp-controller="Employee" asp-route-id="@pro.id">Delete</a>
            </td>
        </tr>

    }
</table>